<div id="center">
  <h1>{{title}}!</h1>
  Enter the name of your recipe: <input #recipeName>
  <br>
  Enter a list of ingredients (seperate ingredients by a comma): <input #recipeIngredients>
  <br>
  Enter a list of directions (seperate each directions by a comma): <input #recipeDirections>
  <br>
  <button (click)="addRecipe(recipeName.value, recipeIngredients.value, recipeDirections.value)">Save!</button>
  <h3>{{recipe}}</h3>
  <div *ngFor="let newRecipe of recipes">
    <h3>Recipe Name: {{newRecipe.title}}</h3>
    <ul>
      <p>List of ingredients:</p>
      <li *ngFor="let ingredient of newRecipe.ingredients"> 
        {{ingredient}}
      </li>
    </ul>
    <ol>
      <p>List of directions:</p>
      <li *ngFor="let direction of newRecipe.directions">
        {{direction}}
      </li>
    </ol>
    <p>-------------------------------------------------------------------------------------------</p>
  </div> 
</div>

<!-- <ul>
  <li>{{firstRecipe.title}} - {{ month }}/{{ day }}/{{ year }}</li>
  <ul>
    <li>Ingredients: {{ firstRecipe.ingredients }}</li>
    <li>Directions: {{ firstRecipe.directions }}</li>
  </ul>
</ul> -->
